\documentclass[a4paper,10pt]{letter}
\usepackage[a4paper, top=2cm, bottom=3cm]{geometry}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{svg}
\usepackage{float}

% --------------------------
% VARIABLES (Jinja placeholders)
% --------------------------
\newcommand{\RecipientName}{ {{-recipient_name-}} }
\newcommand{\RecipientDept}{ {{-recipient_dept-}} }
\newcommand{\RecipientInstitution}{ {{-recipient_institution-}} }
\newcommand{\Position}{ {{-position-}} }
\newcommand{\WhoseVision}{ {{-whose_vision}} }
\newcommand{\WhatVision}{ {{-what_vision-}} }
\newcommand{\WhatDrive}{ {{-what_drive-}} }
\newcommand{\LetterDate}{ {{-letter_date-}} }
\newcommand{\YourResumeURL}{ {{-your_resume_url-}} }
\newcommand{\Location}{ {{-location-}} }
\newcommand{\WhatSeeked}{ {{-what_seeked-}} }

\date{\LetterDate}
\signature{\vspace{-1.5 cm}Vibhor Aggarwal} % name for signature

\begin{document}
\longindentation=0pt
\let\raggedleft\raggedright

\begin{letter}{\RecipientDept, \\ \RecipientInstitution}

\begin{center}
{\large\bf Vibhor Aggarwal}
\end{center}
\medskip\hrule height 1pt
\begin{center}
{Robotics and Automotive engineer  \\  vibhorag24@gmail.com\\ (+49)17659896222}
\end{center} \vfill % forces letterhead to top of page

\textbf{Betreff}: Bewerbung als \Position \\ \\
\opening{Sehr geehrte/r \RecipientName,}

hiermit möchte ich mein Interesse bekunden, zum \textit{\RecipientInstitution} als \textit{\Position} beizutragen.

Nach mehreren Jahren Berufserfahrung in Deutschland befinde ich mich nun an einem Punkt, an dem ich über den nächsten sinnvollen Schritt in meiner Karriere nachdenke. Besonders fasziniert mich \WhoseVision Vision der \WhatVision. \WhatDrive

Derzeit arbeite ich als Softwareentwickler bei ETAS (Bosch Gruppe) mit mehr als sechs Jahren Erfahrung in der Automobil- und Robotikbranche. Ich habe meinen Bachelorabschluss als Maschinenbauingenieur mit Nebenfach Angewandte Mathematik am Indian Institute of Technology (IIT) Kanpur, Indien, sowie meinen Masterabschluss in Kraftfahrzeugtechnik an der RWTH Aachen, Deutschland, erworben. Zudem habe ich in internationalen Forschungsinstituten und Unternehmen in Deutschland, Indien und Italien gearbeitet. Weitere Details finden Sie im beigefügten \href{https://vibhoraggarwal.github.io/files/VibhorResume_en.pdf}{Lebenslauf}.

Seit meinem Bachelorstudium, in dem ich die Möglichkeit hatte, an einem Geländefahrzeug zu arbeiten, habe ich eine tiefe Leidenschaft für die Dynamik von Maschinensystemen entwickelt. Ich konnte umfangreiche Erfahrungen in den Bereichen Automatisierung, humanoide Robotik und Fahrerassistenzsysteme (ADAS) sammeln. Während meiner Tätigkeit bei ETAS/Bosch habe ich in funktionsübergreifenden Teams gearbeitet und eng mit Stakeholdern und Kunden zusammengearbeitet, um den Erfolg von ADAS-Technologien wie Simulationsmodellen und Middleware voranzutreiben.

Aufgrund meiner bisherigen Erfahrung verfüge ich über Kenntnisse und Fähigkeiten in den folgenden Bereichen, die für die ausgeschriebene Position von Nutzen sein könnten:
\begin{itemize}
  \item Systemdesign \& Integration
  \item Schnelle Prototypenerstellung von Systemen
  \item Regelungstechnik
  \item Agile Softwareentwicklung
  \item Roboterdynamik und -bewegung
  \item Praxiserfahrung mit dem \href{https://icub.iit.it/}{iCub-Humanoidenroboter}
  \item Continuous-Delivery-Systeme
\end{itemize}

Ich befinde mich derzeit in \Location, bin aber offen für einen Umzug. Ich suche eine \WhatSeeked.

Ich freue mich auf Ihre Rückmeldung.

\closing{Mit freundlichen Grüßen, \\
\includesvg[width=1.1cm]{vibhor_sign.svg}
}

Webseite: \href{https://vibhoraggarwal.github.io/}{vibhoraggarwal.github.io}

\end{letter}
\end{document}
