Betreff: {{ position }}

Sehr geehrte/r {{ recipient_name }},

hiermit möchte ich mein Interesse bekunden, zum {{ recipient_institution }} als {{ position }} beizutragen.
​​
Die Bewerbung umfasst:

- Anschreiben mit einer Liste von Fähigkeiten, die für die Position hilfreich sind (ich habe die Liste auch unten in dieser E-Mail hinzugefügt)
- Lebenslauf

Bitte lassen Sie mich wissen, falls Sie weitere Informationen von mir benötigen.

Anhang:

Aufgrund meiner bisherigen Erfahrung habe ich in den folgenden Bereichen gearbeitet und bin darin versiert. Diese könnten für die Position von Nutzen sein:
 1. Systemdesign & Integration
 2. Schnelle Prototypenerstellung von Systemen
 3. Regelungstechnik
 4. Agile Softwareentwicklung
 5. Roboterdynamik und -bewegung
 6. Praxiserfahrung mit dem humanoiden Roboter iCub
 7. Systeme für Continuous Delivery

Mit freundlichen Grüßen,
Vibhor Aggarwal
Webseite: https://vibhoraggarwal.github.io/