\documentclass[a4paper,10pt]{letter}
\usepackage[a4paper, top=2cm, bottom=3cm]{geometry}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{svg}
\usepackage{float}

% --------------------------
% VARIABLES (Jinja placeholders)
% --------------------------
\newcommand{\RecipientName}{ {{-recipient_name-}} }
\newcommand{\RecipientDept}{ {{-recipient_dept-}} }
\newcommand{\RecipientInstitution}{ {{-recipient_institution-}} }
\newcommand{\Position}{ {{-position-}} }
\newcommand{\WhoseVision}{ {{-whose_vision}} }
\newcommand{\WhatVision}{ {{-what_vision-}} }
\newcommand{\WhatDrive}{ {{-what_drive-}} }
\newcommand{\LetterDate}{ {{-letter_date-}} }
\newcommand{\YourResumeURL}{ {{-your_resume_url-}} }
\newcommand{\Location}{ {{-location-}} }
\newcommand{\WhatSeeked}{ {{-what_seeked-}} }

\date{\LetterDate}
\signature{\vspace{-1.5 cm}Vibhor Aggarwal} % name for signature

\begin{document}
\longindentation=0pt
\let\raggedleft\raggedright

\begin{letter}{\RecipientDept, \\ \RecipientInstitution}

\begin{center}
{\large\bf Vibhor Aggarwal}
\end{center}
\medskip\hrule height 1pt
\begin{center}
{Robotics and Automotive engineer  \\  vibhorag24@gmail.com\\ (+49)17659896222}
\end{center} \vfill % forces letterhead to top of page

\textbf{Subject}: Application for \Position \\ \\
\opening{Dear \RecipientName,}

I am writing to express my interest in contributing to the \textit{\RecipientInstitution} as a \textit{\Position}.

As I consider the next phase of my career after several years in Germany, I have been reflecting on where I can contribute the most meaningfully. I am interested in \WhoseVision vision of \WhatVision. \WhatDrive

I am currently a software engineer at ETAS (Bosch group) with over six years of experience in automotive and robotics. I completed my bachelor's degree as a mechanical engineer with a minor in applied mathematics from the Indian Institute of Technology (IIT) Kanpur, India, and a master's degree in automotive engineering from RWTH Aachen, Germany. I have worked for international robotics and automotive research laboratories and companies in Germany, India, and Italy. You can find more details on the attached \href{https://vibhoraggarwal.github.io/files/VibhorResume_en.pdf}{resume}.

Since my undergraduate studies, where I had the opportunity to work on an off-road vehicle, I have developed a deep passion for the dynamics of machine systems. I have gained significant experience in automation, humanoid robotics, and ADAS systems. During my tenure at ETAS/Bosch, I collaborated with cross-functional teams and worked closely with stakeholders and customers to drive the success of ADAS technologies, such as simulation models and middleware.

Drawing on my experience, I have worked and am fluent in the following domains among others which might be helpful for the position:
\begin{itemize}
  \item System Design \& Integration
  \item (Rapid) prototyping of systems
  \item Control engineering
  \item Agile software development
  \item Robot dynamics and motion
  \item Hands on experience with \href{https://icub.iit.it/}{iCub Humanoid robot}
  \item Continuous delivery systems
\end{itemize}

I am currently based in \Location\ but open to relocation. I am looking for a \WhatSeeked.

I look forward to hearing from you.

\closing{Sincere regards, \\
\includesvg[width=1.1cm]{vibhor_sign.svg}
}

Website: \href{https://vibhoraggarwal.github.io/}{vibhoraggarwal.github.io}

\end{letter}
\end{document}
