Subject: Application for {{ position }}

Dear {{ recipient_name }},

I am writing to express my interest in contributing to the {{ recipient_institution }} as a {{ position }}.
​​
​​The application contains:

- Cover letter with the list of skills helpful for the position (I have also added the list in the email below)
- Résumé

Let me know if you need more information from my side.

Appendix:

Drawing on my experience, I have worked and am fluent in the following domains among others which might be helpful for the position:
 1. System Design & Integration 
 2. (Rapid) prototyping of systems
 3. Control engineering
 4. Agile software development
 5. Robot dynamics and motion
 6. Hands on experience with iCub Humanoid robot 
 7. Continuous delivery systems

Sincere regards,
Vibhor Aggarwal
Website: https://vibhoraggarwal.github.io/